@import fonts
@import base
// @import rock/main

@import tmp

// https://developer.mozilla.org/en-US/docs/Web/CSS/offset-distance
// Прикол 

.rock
    height: 1000px
    width: 100%
    overflow: hidden
    background-image: url(../img/rock/bg.png)
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    @media(max-width: 1500px)
        background-image: url(../img/rock/bg1500.png)
    @media(max-width: 800px)
        background-image: url(../img/rock/bg800.png)

    @import rock/header

    .cloud
        left: 22%
        top: 150px
        @media(max-width: 1500px)
            left: 15%
        @media(max-width: 1300px)
            left: 10%
        @media(max-width: 1200px)
            left: 7%
        @media(max-width: 1000px)
            left: 0%
        .logo
            top: -100px
            left: 100px
            img
                width: 500px
        .text
            position: absolute
            top: 98px
            left: 186px
            transform: rotate(-10deg)
            .h1_first_part, .h1_second_part
                font-family: 'Permanent Marker'
                font-style: normal
                font-weight: 400
                font-size: 38.196px
                line-height: 56px
                color: black
                width: 300px
                z-index: 4
            .h1_second_part
                position: relative
                left: 95px
                top: -15px
            .h1_wrapper
                position: relative
                z-index: -1
                top: -100px
                left: 67px
                transform: rotate(10deg)
        .small_text
            width: 411px
            font-family: 'Bebas Neue'
            font-style: normal
            font-weight: 700
            font-size: 18px
            line-height: 25px
            text-transform: uppercase
            color: black
            position: relative
            top: -306px
            left: 156px

    .hand
        position: absolute
        right: 0px
        top: -20px
