@font-face
    font-family: 'Permanent Marker'
    src: url("fonts/Permanent Marker 400.ttf")
    font-weight: 400
@font-face
    font-family: 'Bebas Neue'
    src: url("fonts/Bebas Neue 400.ttf")
    font-weight: 400
@font-face
    font-family: 'Bebas Neue'
    src: url("fonts/Bebas Neue 700.ttf")
    font-weight: 700
@font-face
    font-family: 'Marker Felt'
    src: url("fonts/Marker Felt 400.ttf")

body
    background-color: black
    line-height: 1

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
    display: block

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button
    margin: 0
    padding: 0
    border: 0
    font-size: 100%
    font: inherit
    vertical-align: baseline
    box-sizing: border-box
    color: white

.container
    // background-color: rgba(255, 255, 255, .1)
    width: 1300px
    margin: 0 auto

.rock_your_app
    height: 100vh
    background-color: rgba(255, 255, 255, .1)

header
    .container
        display: flex

.logo
    width: 25%
.links
    width: 50%
    display: flex
    column-gap: 60px
    justify-content: center
    padding-top: 30px
    a

        font-family: 'Bebas Neue'
        font-style: normal
        font-weight: 700
        font-size: 28px
        line-height: 28px
        text-decoration: none
        letter-spacing: 0.1em
.soc_net
    width: 25%
    padding-top: 22px

.logo_img_wrapper_img
    width: 0px
    height: 0px
    z-index: 1
    position: relative
    img
        width: 350px
        height: auto

.logo_img
    width: 0px
    height: 0px
    z-index: 2
    position: relative
    top: 12px
    left: 45px
    img
        height: auto
        width: 171px

.cloud
    position: relative
    width: 0px
    height: 0px
    left: 270px
    .text
        position: absolute
        top: 250px
        left: 290px
        transform: rotate(-10deg)
        .h1_first_part, .h1_second_part
            font-family: 'Permanent Marker'
            font-style: normal
            font-weight: 400
            font-size: 38.196px
            line-height: 56px
            color: black
            width: 300px
            z-index: 4
        .h1_first_part
        .h1_second_part
            position: relative
            left: 95px
            top: -15px
        .h1_wrapper
            position: relative
            z-index: -1
            top: -100px
            left: 67px
            transform: rotate(10deg)
    .small_text
        width: 411px
        font-family: 'Bebas Neue'
        font-style: normal
        font-weight: 700
        font-size: 18px
        line-height: 25px
        text-transform: uppercase
        color: black
        position: relative
        top: -457px
        left: 254px
